body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    background-color: bisque;
    color: #333;
}

h1 {
    color: darkcyan;
    font-size: 36px;
    margin-bottom: 20px;
}

p.subtitle {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.card {
    width: 40%;
    padding: 15px;
    margin: 10px;
    border: 1px #333 solid;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #f95;
    float: left;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    transition: transform 0.2s ease-in;
}

.card:hover {
    transform: scale(1.05);
}

.card {
    width: calc(50% - 20px);
    /* Вычисляемая ширина с учетом отступов */
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 8px;
    float: left;
    transition: transform 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .card {
        width: calc(100% - 20px);
        /* Вычисляемая ширина на мобильных устройствах */
        clear: both;
        /* Очистка float на мобильных устройствах */
    }
}

.project-description {
    color: #777;
    font-size: 0.9em;
    margin-top: 10px;
}